.todo-item{
    display: flex;
    align-items: center;
    width: 70%;
}
.todo-desc{
    margin-left: 20px;
    flex-grow: 1;
}
.delete-img{
    height: 35px;
    width: 35px;
    justify-self: self-end;
}
.delete-img:hover{
    box-shadow: 0px 0px 1px 1px rgba(105, 159, 212, 0.568);
}